/* Write your CSS here */
.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  margin: 20px;
}
.bg-container {
  background-color: #ffc2a0;
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
